<div class="container h-100">

  <div class="row h-50" >
    <div class="container h-100">
      <img src="assets/imgs/DIAMOND DOGS by AlexZipp on DeviantArt-xl.jpg" style=" width: auto; height: inherit;" alt="Responsive image logo">
    </div>
  </div>

  <div class="row" >

      <div class="container-fluid">
        <button (click)="login()">Log In</button>
        <button (click)="signUp()">Sign Up</button>
      </div>

  </div>
  <div class="row" >

      <div class="container-fluid">
        bottom
      </div>

  </div>
</div>


