<div class="conatiner">
  <div class="row" >

      <div class="container-fluid">
        <img src="assets/imgs/DIAMOND DOGS by AlexZipp on DeviantArt-xl.jpg" class="img-fluid" style="height: 30%;" alt="Responsive image logo">
      </div>

  </div>
  <div class="row" >

      <div class="container-fluid">
        <button (click)="login()">Log In</button>
        <button (click)="signUp()">Sign Up</button>
      </div>

  </div>
  <div class="row" >

      <div class="container-fluid">
        bottom
      </div>

  </div>
</div>

<!--  Place holder for when we setup our own landing page.
<form class="form-signin" #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin)">
  <img class="mb-4" src="/assets/imgs/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus name="email" ngModel>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password" ngModel>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me" name="rememberMe" ngModel> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

</form>

<pre>{{userlogin.value | json}}</pre>
-->
