<button (click)="pingApi()">Ping API</button>

<pre *ngIf="responseJson">
<code>{{ responseJson | json }}</code>
</pre>

<button (click)="tokenApi()">Get token</button>

<pre *ngIf="tokenJson">
<code>{{ tokenJson | json }}</code>
</pre>

<button (click)="testForUserData()">Get user data</button>

<pre *ngIf="userData">
<code>{{ userData | json }}</code>
</pre>

<button (click)="createUserData()">Create user data</button>

<button (click)="secureURLCreate()">secureURLCreate</button>

<pre *ngIf="secureURL">
<code>{{ secureURL | json }}</code>
</pre>

<button (click)="secureURLGet()">secureURLGet</button>



<pre *ngIf="secureURL">
<code>{{ bucketCreation | json }}</code>
</pre>

<label class="btn btn-default">
  <input type="file" (change)="selectFile($event)">
</label>

<button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>

<pre *ngIf="queryResult">
  <h3>Dogs</h3>
  <code>{{ queryResult | json }}</code>
</pre>

<button (click)="getUsersDogs()">getUsersDogs</button>

<pre *ngIf="userId">
  <h3>Users Id</h3>
  <code>{{ userId | json }}</code>
</pre>

<pre *ngIf="createdDog">
  <h3>Users Id</h3>
  <code>{{ createdDog | json }}</code>
</pre>

  <form #f="ngForm" (ngSubmit)="addUsersDogs()" novalidate>

    <h2>Dog</h2>
    <div class="form-group"><label for="DogName">Name</label><input id="DogName" type="text" class="form-control" [(ngModel)]="saveDog.name" name="DogName" required #name="ngModel"></div>

    <button class="btn btn-primary">Save</button>
  </form>



